.detailContainer {
  width: 100%;
  height: auto;

  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailContent {
  width: 60%;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
  color: rgb(1, 0, 37);
  border: 3px solid black;
  box-shadow: 0px 0px 0px 6px var(--card-border-color);
  background-color: var(--card-border-color);
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (max-width: 860px) {
    width: 80%;
    padding: 10px;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-right: 7%;
  border: 5px solid var(--button-bg-color);
}

p {
  font-size: 20px;
}
.span {
  color: var(--button-bg-color);
}
