.formContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  width: 50vw;
  height: 75vh;
  background-color: var(--card-border-color);
  border: 3px solid black;
  box-shadow: 0px 0px 0px 6px var(--card-border-color);
  border-radius: 5px;

  @media screen and (max-width: 700px) {
    width: 80vw;
  }
}

.createNewBreedTitle {
  font-family: inherit;
  font-size: 20px;
  color: var(--border-color);
}

.inputContainer {
  /* background-color: red;
    border: 3px solid green; */
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.inputPairsContainer {
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
}
.labelInputSpan {
  width: 45%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.label {
  color: var(--border-color);
  font-size: 15px;
  font-weight: 700;
}

.inputValid {
  text-align: center;
  font-size: 17px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 3px solid rgb(14, 222, 94);
  align-self: flex-start;
}

.inputInvalid {
  text-align: center;
  font-size: 17px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 3px solid red;
  align-self: flex-start;
}

.errorSpan {
  height: 15px;
  font-size: 15px;
  color: red;
}

.button {
  align-self: center;
  width: 200px;
  height: 35px;
  /* margin: 0px 20px 0px 20px; */
  border-radius: 20px;
  border: 3px solid var(--border-color);
  background-color: var(--button-bg-color);
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}

.button:hover {
  border: 3px solid var(--button-bg-color);
  background-color: var(--border-color);
  color: white;
  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}
